@model Cascd_Dpdwn.VMs.AllTbl

@{
    ViewData["Title"] = "DisplayData";
}

<h1>DisplayData</h1>

<div class="container">
    <div>
        <select id="teritory" class="form-select">
            <option>Select</option>
            @{
                foreach (var item in Model.Territory)
                {
                    <option value="@item.Ter_id">
                        @item.Tr_Name
                    </option>
                }
            }
        </select>
    </div>
</div>

@section Scripts{
    <script>

    </script>
}